<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon> 
    <img src="/assets/img/logo.png">
  </button>
</mat-toolbar>
<mat-sidenav-container class="sidenav">
  <mat-sidenav mode="side" opened>
    <mat-list>
      <mat-list-item> <button mat-flat-button color="basic">Atendimento</button></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item> <button mat-flat-button color="basic">Produção</button></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item> <button mat-flat-button color="basic">Custo</button></mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->