:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

mat-toolbar {
  flex-basis: auto;
}

mat-sidenav-container {
  flex-grow: 1;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
